@font-face {
  font-family: "Shadows Into Light";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/ShadowsIntoLightTwo-Regular.ttf");
}
@font-face {
  font-family: "ZCOOL KuaiLe";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/ZCOOLKuaiLe-Regular.ttf");
}
